[Unit]
Description=Timed Media Recording Service
After=network.target

[Service]
ExecStart=/opt/timrec/bin/timrec
Restart=on-abort

[Install]
WantedBy=multi-user.target
